@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome !</h2>
    </div>
    <br /><br />
              <ol class="breadcrumb">
                  <li class="breadcrumb-item font-weight-bolder text-black-50"><a>Home page</a> 
                  <br /><br />
                  <a class="btn btn-outline-success font-weight-bold " asp-action="AddOrEdit" asp-controller="Car"> Add new car</a> 
                  <br /><br />
                  <a class="btn btn-outline-success font-weight-bold" asp-action="Index" asp-controller="Car"> View car list</a></li>
              </ol>
              
              




